# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science  
- Identify commonly used libraries by Data Scientists  
- Understand what GitHub and repositories are  
- Use Markdown to create formatted cells in Jupyter Notebooks  
- Describe development environments used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Python Libraries
2. R libraries

| Data Science Tools | 
|---------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

Alba